.delivery {
    .title-xl {
        margin-bottom: 50px;
        @media (max-width: 990px) {
            margin-bottom: 30px;
        }
    }
    .title-sm {
        margin-bottom: 35px;
        @media (max-width: 990px) {
            margin-bottom: 25px;
        } 
    }
    .simple-text {
        margin-bottom: 30px;
        @media (max-width: 990px) {
            margin-bottom: 25px;
        }
    }
}