@import 'var.scss';
@import 'header/header.scss';
@import 'home/home.scss';
@import 'detail-item/detail-item.scss';
@import 'delivery/delivery.scss';
@import 'item/item.scss';
@import 'catalog/catalog.scss';
@import 'contact/contact.scss';
@import 'bug/bug.scss';
@import 'text/text.scss';
@import 'thank/thank.scss';
@import 'pay/pay.scss';
@import 'footer/footer.scss';


html,body {
    margin: 0!important;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main {
	min-height: calc(100vh - 160px);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
#before-load {
    position: fixed; /*фиксированное положение блока*/
    left: 0; /*положение элемента слева*/
    top: 0; /*положение элемента сверху*/
    right: 0; /*положение элемента справа*/
    bottom: 0; /*положение элемента снизу*/
    background: rgba(255,255,255, .98); /*цвет заднего фона блока*/
    z-index: 99999; /*располагаем его над всеми элементами на странице*/
  }
  #before-load i {
    width: 70px; /*ширина gif-изображения*/
    height: 70px; /*высота gif-изображения*/
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/preload.gif') no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
    margin: -35px 0 0 -35px;
  }
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');