.header-feedback-wrap {
    background: $colorBlackLight;
    padding: 10px 30px;
    @media (max-width: 990px) {
        padding: 10px 15px;
    }
    .header-feedback {
        display: flex;
        justify-content: space-between;
        @media (max-width:990px) {
            align-items: center;
            flex-direction: column;
        }
        .header-feedback-box {
            display: flex;
            margin-right: 15px;
            font: normal .87rem 'Roboto', sans-serif;
            @media (max-width: 990px) {
                margin: 0 0 5px 0;
            }
            p {
                color: #D2D2D2;
                margin-right: 10px;
                display: block;
                @media (max-width: 768px) {
                    margin: 0 8px;
                }
            }
            a {
                color: #D2D2D2;
                margin-right: 10px;
                display: block;
                @media (max-width: 768px) {
                    margin: 0 8px;
                    text-decoration: underline;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
            .icon-map {
                margin: 0;
                &::before {
                    content: url(../img/icon/map-header-icon.svg);
                    position: relative;
                    top: 1px;
                    right: 5px;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
            .icon-phone {
                &::before {
                    content: url(../img/icon/phone-header-icon.svg);
                    position: relative;
                    top: 1px;
                    right: 5px;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
            .clock-icon {
                &::before {
                    content: url(../img/icon/clock-header-icon.svg);
                    position: relative;
                    top: 1px;
                    right: 5px;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        .box-2 {
            @media (max-width: 990px) {
                display: none;
            }
        }
    }
}

header {
    padding: 10px 30px;
    background: $colorBlack;
    @media (max-width: 990px) {
        padding: 15px;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-logo {
            display: flex;
            align-items: center;
            img {
                @media (max-width: 380px) {
                    width: 55px;
                }
            }
            p {
                color: #fff;
                margin-left: 30px;
                font: 400 1rem 'Roboto', sans-serif;
                @media (max-width: 990px) {
                    font-size: .8rem;
                    margin-left: 8px;
                }
            }
        }
        .header-bug {
            display: flex;
            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .num-bug {
                    color: #fff;
                    font: bold .8rem 'Roboto', sans-serif;
                    background: $colorRed;
                    height: 14px;
                    width: 14px;
                    padding: 2px;
                    border-radius: 50%;
                    text-align: center;
                    position: absolute;
                    top: -7px;
                    right: -5px;
                }
            }
        }
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        @media (max-width: 990px) {
            position: fixed;
            height: 100vh;
            width: 70vw;
            background: #fff;
            left: 0;
            top: 0;
            bottom: 0;
            transform: translateX(-110%);
            transition: .5s ease;
            opacity: 0;
        }
        @media (max-width: 768px) {
            width: 100vw;
        }
        ul {
            display: flex;
            @media (max-width: 990px) {
                flex-direction: column;
            }
            li {
                padding: 0 35px;
                @media (max-width: 990px) {
                    padding: 30px 0;
                }
                a {
                    color: #FFF;
                    font: bold .95rem 'Roboto', sans-serif;
                    text-transform: uppercase;
                    display: inline-block;
                    line-height: 1;
                    text-decoration:none;
                    cursor: pointer;
                    position:relative;
                    @media (max-width: 990px) {
                        font-size: 1.05rem;
                        color: #000;
                    }
                    &::after {
                        background-color: #fff;
                        display: block;
                        content: "";
                        height: 2px;
                        width: 0%;
                        left:50%;
                        position:absolute;
                        transition: width .2s ease-in-out;
                        transform:translateX(-50%);
                    }
                }
                a:hover:after,
                a:focus:after {
                    width: 100%;
                }
            }
        }
    }
    .menu-btn {
        display: none;
        @media (max-width: 990px) {
            display: block;
            height: 28px;
            margin-left: 20px;
            cursor: pointer;
        }
    }
    .close-btn {
        display: none;
        @media (max-width: 990px) {
            display: block;
            height: 30px;
            margin-left: 20px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 15px;
        }
    }
}   

.active-menu {
    transform: translateX(0);
    transition: .5s;
    opacity: 1;
}

.fixed-header {
    position: fixed;
    left: 0;
    right: 0;
    transition: .3s;
    top: 0;
    z-index: 999;
}

header .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #929292;
    color: #929292;
    font: normal 14px 'Roboto', sans-serif;
    padding-bottom: 10px;
    height: 30px;
    color: #fff;
    padding-left: 30px;
  }
  
  header .dgwt-wcas-sf-wrapp {
    position: relative;
  }
  
  header .dgwt-wcas-sf-wrapp::before{
    content: url("../img/search.svg");
    position: absolute;
    bottom: 5px;
    left: 5px;
  }
  
  @media (max-width: 990px) {
    header .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
      color: #000;
    }
    header .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
      border-bottom: 1px solid #000;
      color: #000;
    }
    .dgwt-wcas-search-wrapp {
      display: flex!important;
      justify-content: center!important;
      align-items: center!important;
    }
  }
  
  header .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit{
    display: none;
  }
  
  header .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:focus {
    outline: none;
    background: transparent;
    box-shadow: none;
  }
  
  header .dgwt-wcas-close {
    display: none;
  }
  
  header input::-webkit-input-placeholder {
    font-style: normal!important;
  }
  
  header input::-moz-placeholder {
    font-style: normal!important;
  }
  
  header input::-moz-placeholder {
    font-style: normal!important;
  }
  
  header input::-ms-input-placeholder {
    font-style: normal!important;
  }