@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic");
.header-feedback-wrap {
  background: #404040;
  padding: 10px 30px; }
  @media (max-width: 990px) {
    .header-feedback-wrap {
      padding: 10px 15px; } }
  .header-feedback-wrap .header-feedback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 990px) {
      .header-feedback-wrap .header-feedback {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .header-feedback-wrap .header-feedback .header-feedback-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-right: 15px;
      font: normal .87rem 'Roboto', sans-serif; }
      @media (max-width: 990px) {
        .header-feedback-wrap .header-feedback .header-feedback-box {
          margin: 0 0 5px 0; } }
      .header-feedback-wrap .header-feedback .header-feedback-box p {
        color: #D2D2D2;
        margin-right: 10px;
        display: block; }
        @media (max-width: 768px) {
          .header-feedback-wrap .header-feedback .header-feedback-box p {
            margin: 0 8px; } }
      .header-feedback-wrap .header-feedback .header-feedback-box a {
        color: #D2D2D2;
        margin-right: 10px;
        display: block; }
        @media (max-width: 768px) {
          .header-feedback-wrap .header-feedback .header-feedback-box a {
            margin: 0 8px;
            text-decoration: underline; } }
        .header-feedback-wrap .header-feedback .header-feedback-box a:hover {
          text-decoration: underline; }
      .header-feedback-wrap .header-feedback .header-feedback-box .icon-map {
        margin: 0; }
        .header-feedback-wrap .header-feedback .header-feedback-box .icon-map::before {
          content: url(../img/icon/map-header-icon.svg);
          position: relative;
          top: 1px;
          right: 5px; }
          @media (max-width: 768px) {
            .header-feedback-wrap .header-feedback .header-feedback-box .icon-map::before {
              display: none; } }
      .header-feedback-wrap .header-feedback .header-feedback-box .icon-phone::before {
        content: url(../img/icon/phone-header-icon.svg);
        position: relative;
        top: 1px;
        right: 5px; }
        @media (max-width: 768px) {
          .header-feedback-wrap .header-feedback .header-feedback-box .icon-phone::before {
            display: none; } }
      .header-feedback-wrap .header-feedback .header-feedback-box .clock-icon::before {
        content: url(../img/icon/clock-header-icon.svg);
        position: relative;
        top: 1px;
        right: 5px; }
        @media (max-width: 768px) {
          .header-feedback-wrap .header-feedback .header-feedback-box .clock-icon::before {
            display: none; } }
    @media (max-width: 990px) {
      .header-feedback-wrap .header-feedback .box-2 {
        display: none; } }

header {
  padding: 10px 30px;
  background: #323232; }
  @media (max-width: 990px) {
    header {
      padding: 15px; } }
  header .header-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .header-container .header-logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 380px) {
        header .header-container .header-logo img {
          width: 55px; } }
      header .header-container .header-logo p {
        color: #fff;
        margin-left: 30px;
        font: 400 1rem 'Roboto', sans-serif; }
        @media (max-width: 990px) {
          header .header-container .header-logo p {
            font-size: .8rem;
            margin-left: 8px; } }
    header .header-container .header-bug {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      header .header-container .header-bug a {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        header .header-container .header-bug a .num-bug {
          color: #fff;
          font: bold .8rem 'Roboto', sans-serif;
          background: #FF2D42;
          height: 14px;
          width: 14px;
          padding: 2px;
          border-radius: 50%;
          text-align: center;
          position: absolute;
          top: -7px;
          right: -5px; }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3; }
    @media (max-width: 990px) {
      header nav {
        position: fixed;
        height: 100vh;
        width: 70vw;
        background: #fff;
        left: 0;
        top: 0;
        bottom: 0;
        -webkit-transform: translateX(-110%);
            -ms-transform: translateX(-110%);
                transform: translateX(-110%);
        -webkit-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        opacity: 0; } }
    @media (max-width: 768px) {
      header nav {
        width: 100vw; } }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 990px) {
        header nav ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      header nav ul li {
        padding: 0 35px; }
        @media (max-width: 990px) {
          header nav ul li {
            padding: 30px 0; } }
        header nav ul li a {
          color: #FFF;
          font: bold .95rem 'Roboto', sans-serif;
          text-transform: uppercase;
          display: inline-block;
          line-height: 1;
          text-decoration: none;
          cursor: pointer;
          position: relative; }
          @media (max-width: 990px) {
            header nav ul li a {
              font-size: 1.05rem;
              color: #000; } }
          header nav ul li a::after {
            background-color: #fff;
            display: block;
            content: "";
            height: 2px;
            width: 0%;
            left: 50%;
            position: absolute;
            -webkit-transition: width .2s ease-in-out;
            -o-transition: width .2s ease-in-out;
            transition: width .2s ease-in-out;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%); }
        header nav ul li a:hover:after,
        header nav ul li a:focus:after {
          width: 100%; }
  header .menu-btn {
    display: none; }
    @media (max-width: 990px) {
      header .menu-btn {
        display: block;
        height: 28px;
        margin-left: 20px;
        cursor: pointer; } }
  header .close-btn {
    display: none; }
    @media (max-width: 990px) {
      header .close-btn {
        display: block;
        height: 30px;
        margin-left: 20px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px; } }

.active-menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 1; }

.fixed-header {
  position: fixed;
  left: 0;
  right: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  top: 0;
  z-index: 999; }

header .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #929292;
  color: #929292;
  font: normal 14px 'Roboto', sans-serif;
  padding-bottom: 10px;
  height: 30px;
  color: #fff;
  padding-left: 30px; }

header .dgwt-wcas-sf-wrapp {
  position: relative; }

header .dgwt-wcas-sf-wrapp::before {
  content: url("../img/search.svg");
  position: absolute;
  bottom: 5px;
  left: 5px; }

@media (max-width: 990px) {
  header .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    color: #000; }
  header .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    border-bottom: 1px solid #000;
    color: #000; }
  .dgwt-wcas-search-wrapp {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; } }

header .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
  display: none; }

header .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:focus {
  outline: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

header .dgwt-wcas-close {
  display: none; }

header input::-webkit-input-placeholder {
  font-style: normal !important; }

header input::-moz-placeholder {
  font-style: normal !important; }

header input::-moz-placeholder {
  font-style: normal !important; }

header input::-ms-input-placeholder {
  font-style: normal !important; }

.slider-home {
  position: relative; }
  .slider-home img {
    width: 100%;
    position: relative;
    height: 80vh;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 576px) {
      .slider-home img {
        height: 360px;
        width: none;
        max-width: 100%; } }
    @media (max-width: 380px) {
      .slider-home img {
        height: 300px; } }
  .slider-home .your-class-btn-back {
    position: absolute;
    top: 47%;
    left: 50px;
    z-index: 22;
    cursor: pointer; }
    .slider-home .your-class-btn-back::before {
      content: url(../img/icon/left-slide.svg); }
      @media (max-width: 576px) {
        .slider-home .your-class-btn-back::before {
          display: none; } }
    @media (max-width: 990px) {
      .slider-home .your-class-btn-back {
        left: 30px; } }
  .slider-home .your-class-btn-forward {
    position: absolute;
    top: 47%;
    right: 50px;
    z-index: 22;
    cursor: pointer; }
    @media (max-width: 990px) {
      .slider-home .your-class-btn-forward {
        right: 30px; } }
    .slider-home .your-class-btn-forward::before {
      content: url(../img/icon/right-slide.svg); }
      @media (max-width: 576px) {
        .slider-home .your-class-btn-forward::before {
          display: none; } }

.slider-text-box {
  position: absolute;
  top: 32%;
  left: 10%; }
  @media (max-width: 768px) {
    .slider-text-box {
      top: 40%; } }
  @media (max-width: 576px) {
    .slider-text-box {
      top: 20%; } }
  @media (max-width: 380px) {
    .slider-text-box {
      top: 18%;
      left: 6%; } }
  .slider-text-box .title-slide {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    max-width: 1200px;
    color: #fff;
    margin-bottom: 20px; }
    @media (max-width: 990px) {
      .slider-text-box .title-slide {
        max-width: 800px; } }
    @media (max-width: 768px) {
      .slider-text-box .title-slide {
        font-size: 1.5rem; } }
    @media (max-width: 576px) {
      .slider-text-box .title-slide {
        font-size: 1.2rem; } }
  .slider-text-box p {
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      .slider-text-box p {
        font-size: 1rem; } }
    @media (max-width: 576px) {
      .slider-text-box p {
        font-size: .87rem;
        margin-bottom: 30px; } }

.categor .title-xl {
  margin-bottom: 50px; }
  @media (max-width: 990px) {
    .categor .title-xl {
      margin-bottom: 30px; } }

.home-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .home-search::after {
    content: url(../img/arrows-down-icon.svg);
    position: absolute;
    left: 170px;
    top: 12px; }
    @media (max-width: 990px) {
      .home-search::after {
        left: 155px;
        top: 10px; } }
    @media (max-width: 380px) {
      .home-search::after {
        left: 133px; } }
  .home-search .search-car {
    background: #323232;
    color: #fff;
    outline: none;
    border: none;
    font: normal 1rem 'Roboto', sans-serif;
    padding: 10px 45px 10px 30px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    @media (max-width: 990px) {
      .home-search .search-car {
        font-size: .87rem; } }
    @media (max-width: 380px) {
      .home-search .search-car {
        padding: 8px 30px 8px 15px; } }

.delivery .title-xl {
  margin-bottom: 50px; }
  @media (max-width: 990px) {
    .delivery .title-xl {
      margin-bottom: 30px; } }

.delivery .title-sm {
  margin-bottom: 35px; }
  @media (max-width: 990px) {
    .delivery .title-sm {
      margin-bottom: 25px; } }

.delivery .simple-text {
  margin-bottom: 30px; }
  @media (max-width: 990px) {
    .delivery .simple-text {
      margin-bottom: 25px; } }

.item .item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 990px) {
    .item .item-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .item .item-container .item-box-img {
    margin-right: 30px; }
    @media (max-width: 990px) {
      .item .item-container .item-box-img {
        margin-right: 0;
        margin-bottom: 40px; } }
    .item .item-container .item-box-img .item-main-img {
      margin-bottom: 20px; }
      @media (max-width: 990px) {
        .item .item-container .item-box-img .item-main-img {
          margin-bottom: 10px; } }
      .item .item-container .item-box-img .item-main-img img {
        max-width: 100%;
        height: 400px;
        -o-object-fit: cover;
           object-fit: cover; }
        @media (max-width: 1200px) {
          .item .item-container .item-box-img .item-main-img img {
            height: 320px; } }
        @media (max-width: 990px) {
          .item .item-container .item-box-img .item-main-img img {
            height: auto;
            width: 100%; } }
    .item .item-container .item-box-img .item-small-img {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .item .item-container .item-box-img .item-small-img a {
        display: block;
        margin-right: 15px; }
        @media (max-width: 990px) {
          .item .item-container .item-box-img .item-small-img a {
            width: 35%; } }
      .item .item-container .item-box-img .item-small-img img {
        max-width: 100%;
        height: 120px;
        -o-object-fit: cover;
           object-fit: cover; }
        @media (max-width: 1200px) {
          .item .item-container .item-box-img .item-small-img img {
            height: 100px; } }
        @media (max-width: 990px) {
          .item .item-container .item-box-img .item-small-img img {
            height: auto; } }
        @media (max-width: 576px) {
          .item .item-container .item-box-img .item-small-img img {
            margin-right: 10px; } }
      .item .item-container .item-box-img .item-small-img a:last-child {
        margin: 0; }
  .item .item-container .item-short-info {
    width: 50%; }
    @media (max-width: 990px) {
      .item .item-container .item-short-info {
        width: 100%; } }
    .item .item-container .item-short-info .item-title {
      margin-bottom: 20px; }
      @media (max-width: 990px) {
        .item .item-container .item-short-info .item-title {
          margin-bottom: 15px; } }
    .item .item-container .item-short-info .item-price {
      margin-bottom: 20px;
      color: #FF2D42;
      font-size: 1.3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
      @media (max-width: 990px) {
        .item .item-container .item-short-info .item-price {
          margin-bottom: 15px; } }
    .item .item-container .item-short-info .item-text {
      margin-bottom: 20px; }
      @media (max-width: 990px) {
        .item .item-container .item-short-info .item-text {
          margin-bottom: 15px; } }
    .item .item-container .item-short-info .item-buy {
      margin-bottom: 40px; }
      @media (max-width: 990px) {
        .item .item-container .item-short-info .item-buy {
          margin-bottom: 20px; } }
    .item .item-container .item-short-info .item-box-attr .item-attr {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .item .item-container .item-short-info .item-box-attr .item-attr .attr-name {
        font-weight: bold; }
      .item .item-container .item-short-info .item-box-attr .item-attr .attr-text {
        position: absolute;
        left: 200px; }

.car-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px; }
  @media (max-width: 990px) {
    .car-category {
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 576px) {
    .car-category {
      grid-template-columns: 1fr; } }
  .car-category .box-category {
    position: relative; }
  .car-category .box-category:first-child {
    display: none; }
  .car-category img {
    max-width: 100%;
    height: auto;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .car-category p {
    position: absolute;
    width: 100%;
    bottom: 3px;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    padding: 10px 0;
    background: rgba(48, 49, 50, 0.8);
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font: 400 1rem 'Roboto', sans-serif; }
    @media (max-width: 990px) {
      .car-category p {
        font-size: .87rem; } }

.acc-head {
  padding: 20px 40px;
  text-align: left;
  background: #323232;
  cursor: pointer;
  color: #fff;
  margin-bottom: 35px;
  text-transform: uppercase;
  font: bold 1rem 'Roboto', sans-serif; }

.acc-body {
  margin-bottom: 35px;
  display: none; }

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px; }
  @media (max-width: 1024px) {
    .products {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (max-width: 990px) {
    .products {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 768px) {
    .products {
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 576px) {
    .products {
      grid-template-columns: 1fr; } }
  .products img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; }
  .products p {
    text-align: center;
    color: #323232;
    font: normal 1rem 'Roboto', sans-serif; }

.contact .title-xl {
  text-align: left;
  margin-bottom: 50px;
  color: #F8F8F8; }
  @media (max-width: 990px) {
    .contact .title-xl {
      margin-bottom: 30px; } }

.contact .contact-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 990px) {
    .contact .contact-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .contact .contact-container .contact-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #323232;
    padding: 70px 60px; }
    @media (max-width: 990px) {
      .contact .contact-container .contact-info {
        padding: 30px; } }
    .contact .contact-container .contact-info .contact-box-small {
      padding: 40px 40px 40px 60px;
      border-bottom: 1px solid #444444; }
      @media (max-width: 990px) {
        .contact .contact-container .contact-info .contact-box-small {
          padding: 30px; } }
    .contact .contact-container .contact-info .tel {
      font-size: 1.125rem;
      display: block;
      color: #D2D2D2;
      line-height: 28px;
      font-family: 'Roboto', sans-serif; }
      @media (max-width: 990px) {
        .contact .contact-container .contact-info .tel {
          font-size: .9rem; } }
    .contact .contact-container .contact-info .icon-tel {
      position: relative; }
      .contact .contact-container .contact-info .icon-tel::before {
        content: url(../img/icon/contact-phone.svg);
        position: absolute;
        left: -50px;
        top: 10px; }
        @media (max-width: 990px) {
          .contact .contact-container .contact-info .icon-tel::before {
            left: -40px; } }
    .contact .contact-container .contact-info .map-icon {
      position: relative; }
      .contact .contact-container .contact-info .map-icon::before {
        content: url(../img/icon/map-contact-icon.svg);
        position: absolute;
        left: -50px;
        top: 10px; }
        @media (max-width: 990px) {
          .contact .contact-container .contact-info .map-icon::before {
            left: -40px; } }
    .contact .contact-container .contact-info .mail-icon {
      position: relative; }
      .contact .contact-container .contact-info .mail-icon::before {
        content: url(../img/icon/mail-contact.svg);
        position: absolute;
        left: -50px;
        top: 3px; }
        @media (max-width: 990px) {
          .contact .contact-container .contact-info .mail-icon::before {
            left: -40px; } }

.contact .contact-box-small:last-child {
  border: none !important;
  padding-bottom: 0 !important; }

.contact .padding-top-none {
  padding-top: 0 !important; }

.contact .map-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.contact iframe {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: block; }
  @media (max-width: 990px) {
    .contact iframe {
      margin: 20px 0 0 0;
      height: 300px;
      width: 100%;
      max-width: none; } }

.margin {
  margin-bottom: 78px; }
  @media (max-width: 990px) {
    .margin {
      margin-bottom: 70px; } }
  @media (max-width: 768px) {
    .margin {
      margin-bottom: 40px; } }

.padding {
  padding: 0 30px; }
  @media (max-width: 990px) {
    .padding {
      padding: 0 15px; } }

.button-red {
  display: inline-block;
  background: #FF2D42;
  padding: 12px 35px;
  color: #fff;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .button-red:hover {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(255, 45, 66, 0.6);
            box-shadow: 0px 0px 17px 0px rgba(255, 45, 66, 0.6); }
  @media (max-width: 990px) {
    .button-red {
      font-size: .9rem;
      padding: 10px 16px; } }

.title-xl {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #323232; }
  @media (max-width: 990px) {
    .title-xl {
      font-size: 1.125rem; } }

.title-sm {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #323232; }
  @media (max-width: 990px) {
    .title-sm {
      font-size: 1rem; } }

.simple-text {
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #323232;
  line-height: 151.69%; }
  @media (max-width: 990px) {
    .simple-text {
      font-size: 1rem; } }
  @media (max-width: 768px) {
    .simple-text {
      font-size: .87rem; } }

.simple-text-sm {
  font-size: .87rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #323232; }

.item-box img {
  max-width: 100%;
  height: 220px;
  margin-bottom: 10px; }
  @media (max-width: 990px) {
    .item-box img {
      height: 200px; } }
  @media (max-width: 768px) {
    .item-box img {
      height: 100%;
      width: 100%; } }

.item-box .description-item {
  max-width: 260px;
  font-size: .87rem;
  color: #323232;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  line-height: 151.69%; }

.item-box .item-buy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .item-box .item-buy .item-cost {
    display: block;
    font-size: 1.2rem;
    color: #323232;
    font-family: 'Roboto', sans-serif; }
    @media (max-width: 990px) {
      .item-box .item-buy .item-cost {
        font-size: 1.125rem; } }
  .item-box .item-buy .item-btn {
    display: block; }

.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .search-form .search-input {
    display: block;
    background: #323232;
    outline: none;
    border: none;
    padding: 12px 25px;
    color: #fff; }
  .search-form .btn-search {
    display: block; }

.pay .title-xl {
  margin-bottom: 50px; }
  @media (max-width: 990px) {
    .pay .title-xl {
      margin-bottom: 30px; } }

.pay .pay-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 70px; }
  @media (max-width: 990px) {
    .pay .pay-container {
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 40px; } }
  @media (max-width: 768px) {
    .pay .pay-container {
      grid-template-columns: 1fr 1fr; } }
  .pay .pay-container .pay-title {
    margin-bottom: 30px; }
    .pay .pay-container .pay-title::after {
      content: '';
      height: 2px;
      width: 50px;
      display: block;
      background: #FF2D42;
      top: 15px;
      position: relative; }
  .pay .pay-container .simple-text-sm {
    max-width: 170px;
    line-height: 155.7%; }

footer {
  background: #232222;
  padding: 10px 30px; }
  @media (max-width: 990px) {
    footer {
      padding: 15px; } }
  footer .footer-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: -30px; }
    @media (max-width: 990px) {
      footer .footer-logo {
        top: 0; } }
  footer .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 990px) {
      footer .footer-container {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  footer .feedback-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    right: -65px; }
    @media (max-width: 990px) {
      footer .feedback-footer {
        text-align: center;
        right: 0; } }
    footer .feedback-footer a {
      display: block;
      font: normal 1rem 'Roboto', sans-serif;
      color: #969696;
      margin-bottom: 8px; }
      @media (max-width: 990px) {
        footer .feedback-footer a {
          font-size: .87rem; } }
      footer .feedback-footer a:hover {
        text-decoration: underline; }
    footer .feedback-footer a:last-child {
      margin-bottom: 0; }
  footer .tel-icon {
    position: relative; }
    footer .tel-icon::before {
      content: url(../img/icon/tel-fot.svg);
      position: absolute;
      top: 2px;
      left: -30px; }
      @media (max-width: 990px) {
        footer .tel-icon::before {
          display: none; } }
  footer .mail-icon {
    position: relative; }
    footer .mail-icon::before {
      content: url(../img/icon/mail-footer.svg);
      position: absolute;
      top: 1px;
      left: -30px; }
      @media (max-width: 990px) {
        footer .mail-icon::before {
          display: none; } }
  footer nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto; }
    @media (max-width: 990px) {
      footer nav {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    footer nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 990px) {
        footer nav ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          text-align: center; } }
      footer nav ul li {
        padding: 0 35px; }
        @media (max-width: 990px) {
          footer nav ul li {
            padding: 0;
            margin-bottom: 12px; } }
        footer nav ul li a {
          color: #FFF;
          font: bold .95rem 'Roboto', sans-serif;
          text-transform: uppercase;
          display: inline-block;
          line-height: 1;
          text-decoration: none;
          cursor: pointer;
          position: relative; }
          footer nav ul li a::after {
            background-color: #fff;
            display: block;
            content: "";
            height: 2px;
            width: 0%;
            left: 50%;
            position: absolute;
            -webkit-transition: width .2s ease-in-out;
            -o-transition: width .2s ease-in-out;
            transition: width .2s ease-in-out;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%); }
        footer nav ul li a:hover:after,
        footer nav ul li a:focus:after {
          width: 100%; }
      footer nav ul li:last-child {
        margin: 0; }

html, body {
  margin: 0 !important;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden; }

main {
  min-height: -webkit-calc(100vh - 160px);
  min-height: calc(100vh - 160px); }

.container {
  max-width: 1280px;
  margin: 0 auto; }

h1, h2, h3, h4, h5 {
  margin: 0; }

p {
  margin: 0; }

a {
  text-decoration: none; }

button {
  outline: none;
  border: none; }

ul {
  list-style-type: none;
  padding: 0; }

#before-load {
  position: fixed;
  /*фиксированное положение блока*/
  left: 0;
  /*положение элемента слева*/
  top: 0;
  /*положение элемента сверху*/
  right: 0;
  /*положение элемента справа*/
  bottom: 0;
  /*положение элемента снизу*/
  background: rgba(255, 255, 255, 0.98);
  /*цвет заднего фона блока*/
  z-index: 99999;
  /*располагаем его над всеми элементами на странице*/ }

#before-load i {
  width: 70px;
  /*ширина gif-изображения*/
  height: 70px;
  /*высота gif-изображения*/
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../img/preload.gif") no-repeat 50% 50%;
  /*расположение (url) изображения gif и др. параметры*/
  margin: -35px 0 0 -35px; }
