.pay {
    .title-xl {
        margin-bottom: 50px;
        @media (max-width: 990px) {
            margin-bottom: 30px;
        }
    }
    .pay-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
        margin-bottom: 70px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 40px;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
        .pay-title{
            margin-bottom: 30px;
            &::after {
                content: '';
                height: 2px;
                width: 50px;
                display: block;
                background: #FF2D42;
                top: 15px;
                position: relative;
            }
        }
        .simple-text-sm {
            max-width: 170px;
            line-height: 155.7%;
        }
    }
}