.slider-home {
    position: relative;
    img {
        width: 100%;
        position: relative;
        height: 80vh;
        object-fit: cover;
        @media (max-width: 576px) {
            height: 360px;
            width: none;
            max-width: 100%;
        }
        @media (max-width: 380px) {
            height: 300px;
        }
    }
    .your-class-btn-back {
        position: absolute;
        top: 47%;
        left: 50px;
        z-index: 22;
        cursor: pointer;
        &::before {
            content: url(../img/icon/left-slide.svg);
            @media (max-width: 576px) {
                display: none;
            }
        }
        @media (max-width: 990px) {
            left: 30px;
        }
    }
    .your-class-btn-forward {
        position: absolute;
        top: 47%;
        right: 50px;
        z-index: 22;
        cursor: pointer;
        @media (max-width: 990px) {
            right: 30px;
        }
        &::before {
            content: url(../img/icon/right-slide.svg);
            @media (max-width: 576px) {
                display: none;
            }
        }
    }
}   

.slider-text-box {
    position: absolute;
    top: 32%;
    left: 10%;
    @media (max-width: 768px) {
       top: 40%;
    }
    @media (max-width: 576px) {
        top: 20%;
    }
    @media (max-width: 380px) {
        top: 18%;
        left: 6%;
    }
    .title-slide {
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        max-width: 1200px;
        color: #fff;
        margin-bottom: 20px;
        @media (max-width: 990px) {
            max-width: 800px;
        }
        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
        @media (max-width: 576px) {
            font-size: 1.2rem;
        }
    }
    p {
        font-size: 1.5rem;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 40px;
        @media (max-width: 768px) {
            font-size: 1rem;
        }
        @media (max-width: 576px) {
            font-size: .87rem;
            margin-bottom: 30px;
        }
    }
}

.categor {
    .title-xl {
        margin-bottom: 50px;
        @media (max-width: 990px) {
            margin-bottom: 30px;
        }
    }
}

.home-search {
    display: flex;
    position: relative;
    &::after {
        content: url(../img/arrows-down-icon.svg);
        position: absolute;
        left: 170px;
        top: 12px;
        @media (max-width: 990px) {
            left: 155px;
            top: 10px;
        }
        @media (max-width: 380px) {
            left: 133px;
        }
    }
    .search-car {
        background: #323232;
        color: #fff;
        outline: none;
        border: none;
        font: normal 1rem 'Roboto', sans-serif;
        padding: 10px 45px 10px 30px;
        appearance: none;
        @media (max-width: 990px) {
            font-size: .87rem;
        }
        @media (max-width: 380px) {
            padding: 8px 30px 8px 15px;
        }
    }
}