.margin {
    margin-bottom: 78px;

    @media (max-width: 990px) {
        margin-bottom: 70px
    }

    @media (max-width: 768px) {
        margin-bottom: 40px;
    }
}

.padding {
    padding: 0 30px;
    @media (max-width: 990px) {
        padding: 0 15px;
    }
}

.button-red {
    display: inline-block;
    background: #FF2D42;
    padding: 12px 35px;
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
    &:hover {
        box-shadow: 0px 0px 17px 0px rgba(255, 45, 66, .6);
    }

    @media (max-width: 990px) {
        font-size: .9rem;
        padding: 10px 16px;
    }
}

.title-xl {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: $colorBlack;

    @media (max-width: 990px) {
        font-size: 1.125rem;
    }
}

.title-sm {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: $colorBlack;

    @media (max-width: 990px) {
        font-size: 1rem;
    }
}

.simple-text {
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: $colorBlack;
    line-height: 151.69%;
    @media (max-width: 990px) {
        font-size: 1rem;
    }
    @media (max-width: 768px) {
        font-size: .87rem;
    }
}

.simple-text-sm {
    font-size: .87rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: $colorBlack;
}

.item-box {
    img {
        max-width: 100%;
        height: 220px;
        margin-bottom: 10px;

        @media (max-width: 990px) {
            height: 200px;
        }

        @media (max-width: 768px) {
            height: 100%;
            width: 100%;
        }
    }

    .description-item {
        max-width: 260px;
        font-size: .87rem;
        color: $colorBlack;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
        line-height: 151.69%;
    }

    .item-buy {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-cost {
            display: block;
            font-size: 1.2rem;
            color: $colorBlack;
            font-family: 'Roboto', sans-serif;

            @media (max-width: 990px) {
                font-size: 1.125rem;
            }
        }

        .item-btn {
            display: block;
        }
    }
}

.search-form {
    display: flex;
    .search-input {
        display: block;
        background: $colorBlack;
        outline: none;
        border: none;
        padding: 12px 25px;
        color: #fff;
    }
    .btn-search {
        display: block;
    }
}