.car-category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    @media (max-width: 990px) {
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
    .box-category {
        position: relative;
    }
    .box-category:first-child {
        display: none;
    }
    img {
        max-width: 100%;
        height: auto;
        transition: .3s;
    }
    p {
        position: absolute;
        width: 100%;
        bottom: 3px;
        left: 0;
        right: 0;
        z-index: 2;
        text-align: center;
        padding: 10px 0;
        background: rgba(48,49,50,.8);
        color: #fff;
        transition: .3s;
        font: 400 1rem 'Roboto', sans-serif;
        @media (max-width: 990px){
            font-size: .87rem;
        }
    }
}



.acc-head {
    padding: 20px 40px;
    text-align: left;
	background: #323232;
    cursor: pointer;
    color: #fff;
    margin-bottom: 35px;
    text-transform: uppercase;
    font: bold 1rem 'Roboto', sans-serif;
}
 
.acc-body {
    margin-bottom: 35px;
    display: none;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    p {
        text-align: center;
        color: #323232;
        font: normal 1rem 'Roboto', sans-serif;
    }
}