.item {
    .item-container {
        display: flex;
        @media (max-width: 990px) {
            flex-direction: column;
        }
        .item-box-img {
            margin-right: 30px;
            @media (max-width: 990px) {
                margin-right: 0;
                margin-bottom: 40px;
            }
            .item-main-img {
                margin-bottom: 20px;
                @media (max-width: 990px) {
                    margin-bottom: 10px;
                }
                    img {
                        max-width: 100%;
                        height: 400px;
                        object-fit: cover;
                        @media (max-width: 1200px) {
                            height: 320px;
                        }
                        @media (max-width: 990px) {
                            height: auto;
                            width: 100%;
                        }
                    }
            }
            .item-small-img {
                display: flex;
                justify-content: space-between;
                a {
                    display: block;
                    margin-right: 15px;
                    @media (max-width: 990px) {
                        width: 35%;
                    }
                }
                img {
                    max-width: 100%;
                    height: 120px;
                    object-fit: cover;
                    @media (max-width: 1200px) {
                        height: 100px;
                    }
                    @media (max-width: 990px) {
                        height: auto;
                    }
                    @media (max-width: 576px) {
                        margin-right: 10px;
                    }
                }
                a:last-child{
                    margin: 0;
                }
            }
        }
        .item-short-info {
            width: 50%;
            @media (max-width: 990px){
                width: 100%;
            }
            .item-title {
                margin-bottom: 20px;
                @media (max-width: 990px) {
                    margin-bottom: 15px;
                }
            }
            .item-price {
                margin-bottom: 20px;
                color: $colorRed;
                font-size: 1.3rem;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                @media (max-width: 990px) {
                    margin-bottom: 15px;
                }
            }
            .item-text {
                margin-bottom: 20px;
                @media (max-width: 990px) {
                    margin-bottom: 15px;
                }
            }
            .item-buy {
                margin-bottom: 40px;
                @media (max-width: 990px) {
                    margin-bottom: 20px;
                }
            }
            .item-box-attr {
                .item-attr {
                    display: flex;
                    position: relative;
                    .attr-name {
                        font-weight: bold;
                    }
                    .attr-text {
                        position: absolute;
                        left: 200px;
                    }
                }
            }
        }
    }
}