.contact {
    .title-xl {
        text-align: left;
        margin-bottom: 50px;
        color: #F8F8F8;
        @media (max-width: 990px) {
             margin-bottom: 30px;
        }
    }
    .contact-container {
        display: flex;
        @media (max-width: 990px) {
            flex-direction: column;
        }
        .contact-info {
            display: flex;
            flex-direction: column;
            background: #323232;
            padding: 70px 60px;   
            @media (max-width: 990px) {
                padding: 30px;
            }
            .contact-box-small {
                padding: 40px 40px 40px 60px;
                border-bottom: 1px solid#444444;
                @media (max-width: 990px) {
                    padding: 30px;
                }
            }
            .tel {
                font-size: 1.125rem;
                display: block;
                color: #D2D2D2;
                line-height: 28px;
                font-family: 'Roboto', sans-serif;
                @media (max-width: 990px) {
                    font-size: .9rem;
                }
            }
            .icon-tel {
                position: relative;
                &::before {
                    content: url(../img/icon/contact-phone.svg);
                    position: absolute;
                    left: -50px;
                    top: 10px;
                    @media (max-width: 990px) {
                        left: -40px;
                    }
                }
            }
            .map-icon {
                position: relative;
                &::before {
                    content: url(../img/icon/map-contact-icon.svg);
                    position: absolute;
                    left: -50px;
                    top: 10px;
                    @media (max-width: 990px) {
                        left: -40px;
                    }
                }
            }
            .mail-icon {
                position: relative;
                &::before {
                    content: url(../img/icon/mail-contact.svg);
                    position: absolute;
                    left: -50px;
                    top: 3px;
                    @media (max-width: 990px) {
                        left: -40px;
                    }
                }
            }
        }
    }
    .contact-box-small:last-child{
        border: none!important;
        padding-bottom: 0!important;
    }
    .padding-top-none {
        padding-top: 0!important;
    }
    .map-box {
        display: flex;
        align-items: center;
        width: 100%;
    }
    iframe {
        height: 100%;
        width: 100%;
        max-width: 100%;
        display: block;
        @media (max-width: 990px) {
            margin: 20px 0 0 0;
            height: 300px;
            width: 100%;
            max-width: none;
        }
    }
}