footer {
    background: $colorBlackDark;
    padding: 10px 30px;
    @media (max-width: 990px) {
        padding: 15px;
    }
    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -30px;
        @media (max-width: 990px) {
            top: 0;
        }
    }
    .footer-container {
        display: flex;
        justify-content: space-between;
        @media (max-width: 990px) {
            justify-content: center;
            flex-direction: column;
        }
    }
    .feedback-footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        right: -65px;
        @media (max-width: 990px) {
            text-align: center;
            right: 0;
        }
        a {
            display: block;
            font: normal 1rem 'Roboto', sans-serif;
            color: $colorGray;
            margin-bottom: 8px;
            @media (max-width: 990px) {
                font-size: .87rem;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        a:last-child {
            margin-bottom: 0;
        }
    }
    .tel-icon {
        position: relative;
        &::before {
            content: url(../img/icon/tel-fot.svg);
            position: absolute;
            top: 2px;
            left: -30px;
            @media (max-width: 990px) {
                display: none;
            }
        }
    }
    .mail-icon {
        position: relative;
        &::before {
            content: url(../img/icon/mail-footer.svg);
            position: absolute;
            top: 1px;
            left: -30px;
            @media (max-width: 990px) {
                display: none;
            }
        }
    }
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        margin: 0 auto;
        @media (max-width: 990px) {
            justify-content: center;
            align-items: center;
        }
        ul {
            display: flex;
            @media (max-width: 990px) {
                flex-direction: column;
                text-align: center;
            }
            li {
                padding: 0 35px;
                @media (max-width: 990px) {
                   padding:0;
                   margin-bottom: 12px;
                }
                a {
                    color: #FFF;
                    font: bold .95rem 'Roboto', sans-serif;
                    text-transform: uppercase;
                    display: inline-block;
                    line-height: 1;
                    text-decoration:none;
                    cursor: pointer;
                    position:relative;
                    &::after {
                        background-color: #fff;
                        display: block;
                        content: "";
                        height: 2px;
                        width: 0%;
                        left:50%;
                        position:absolute;
                        transition: width .2s ease-in-out;
                        transform:translateX(-50%);
                    }
                }
                a:hover:after,
                a:focus:after {
                    width: 100%;
                }
            }
            li:last-child {
                margin: 0;
            }
        }
    }
}